# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#machinedependent includedirlink
code/cudasamples
code/main

#LaTeXfiles
documentation/*.aux
documentation/*.glo
documentation/*.idx
documentation/*.log
documentation/*.toc
documentation/*.ist
documentation/*.acn
documentation/*.acr
documentation/*.alg
documentation/*.bbl
documentation/*.blg
documentation/*.dvi
documentation/*.glg
documentation/*.gls
documentation/*.ilg
documentation/*.ind
documentation/*.lof
documentation/*.lot
documentation/*.maf
documentation/*.mtc
documentation/*.mtc1
documentation/*.out
documentation/*.synctex.gz
documentation/*.pdf
